body {
  overflow: hidden;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2.0%;
}

.App-header-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0rem;
}

.App-header-name {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 5.0rem;
}

@media all and (max-width: 480px) {
  .App-header-name {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 4.0rem;
  }
}

.App-header-address {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.0rem;
}

.App-header-contents {
  display: flex;
  flex-direction: row;
  gap: 4.0%;
}

@media all and (max-width: 360px) {
  .App-header-contents {
    display: flex;
    flex-direction: row;
    gap: 2.0%;
  }
}

.App-link {
  color: #61dafb;
  font-size: 1.0rem;
}

.Section {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: 2.0%;
  color: #282c34;
}

.Section-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.5rem;
}